body {
    background-color: #f5f5f5;
}

header {
    background-color: #f5f5f5;
}

#fbBtn {
    background-color: #4267B2;
    color: white;
}

.dropdown-item {
    cursor: pointer;
}

.custom-alert {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
}

.scrollarea {
    overflow-y: auto;
}

.comment-xsm {
    font-size: x-small;
}

.comment-sm{
    font-size: small;
}
